<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FVDict.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FVDict.Properties.Settings>
            <setting name="FVDict_EnViTranslationServiceProxy_EnViTranslationService"
                serializeAs="String">
                <value>http://localhost:2270/EnViTranslationService.asmx</value>
            </setting>
            <setting name="FVDict_FrEnTranslationServiceProxy_FrEnTranslationService"
                serializeAs="String">
                <value>http://localhost:2270/FrEnTranslationService.asmx</value>
            </setting>
        </FVDict.Properties.Settings>
    </applicationSettings>
</configuration>